* {
    vertical-align: top;
    box-sizing:border-box;
}
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-size: medium;
    font-family: Helvetica,Arial,sans-serif,"微軟正黑體", "Microsoft JhengHei";
 }

#topbackground{
    background: -webkit-linear-gradient(#FFEBB5,#FFFFFF);
    background: -o-linear-gradient(#FFEBB5,#FFFFFF);
    background: -moz-linear-gradient(#FFEBB5,#FFFFFF);
    background: linear-gradient(#FFEBB5,#FFFFFF);
}

#back{
    position: fixed;
    right: 250px;
    bottom: 150px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgba(250, 128, 114, 1.0);
    border-radius: 50%;
    transition: all .3s;
}
#back:hover{
    background-color: rgba(255, 127, 80, 1.0);
    border-radius: 20%;
}
@media screen and (min-width: 1360px) and (max-width: 1700px) {
    #back{
        right: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1360px) {
    #back{
        right: 20px;
    }
}
@media screen and (min-width: 450px) and (max-width: 768px) {
    #back{
        right: 20px;
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
}
@media screen and (min-width: 0px) and (max-width: 450px) {
    #back{
        right: 20px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}


/* 導覽列 */
.navbar-default{
    box-shadow:2px 2px 2px rgba(30%,30%,40%,0.6),4px 4px 6px rgba(30%,30%,40%,0.4),4px 4px 12px rgba(30%,30%,40%,0.4);
    border-radius: 5px;
    
}
#logo{
    width: 25px;
    height: 25px;
    margin-top: -5px;
    display: inline-block;
}
.navbar-brand{
    font-weight: bold;

}
.navbar-nav li a{
    padding: 15px 20px;
}

.navbar-nav li a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    display: inline-block;
    width: 1px;
    height: calc(100% - 7px *  2);
    background-color:rgba( 225, 225, 225, 1.00);
    
}

/* NEWS */
#news{
    background-color: #fff; 
    margin-bottom: 100px;
    padding-bottom: 20px;
    box-shadow:2px 2px 2px rgba(30%,30%,40%,0.6),4px 4px 6px rgba(30%,30%,40%,0.4),4px 4px 12px rgba(30%,30%,40%,0.4);
}


.newstitle{
    background-color: #82E1FD;
    color: #0B3291;
    font-weight: 900;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.topnews{
    margin-left: 15px;
    border-left: 5px solid #3186D9;
    padding-left: 10px;
    margin-bottom: 20px;
}

.topnews p{
    color: #2C89CE;
}

.topnews span{
    font-weight: bold;

}

.innertext{
    margin:15px; 
    padding: 20px;
    border: 1px solid #E7E5E6;
    border-radius: 5px;

}
.innertext .text{
    padding: 20px;
    background-color: #F5F5F5;
    border: 1px solid #E7E5E6;
    border-radius: 5px;
}

.innertext .text p{
    line-height: 30px;
    
}

.newslink .titlelink{
    padding: 5px 10px;
    margin: 0 15px;
    background-color:#FFBB4D;
    height: 30px;
    line-height: 30px;
    
}
.newslink .titlelink span{
    color: #fff;
    font-size: 15px;
    font-weight: 900;
}
.newslink a{
    display: block;
    margin-top: 10px;
    margin-left: 25px;
}


.newsimg {
    margin: 30px 0; 
}
.newsimg .imgtitle{
    padding: 5px 10px;
    margin: 0 15px;
    background-color:#009688;
    height: 30px;
    line-height: 30px;
    
}
.newsimg .imgtitle span{
    color: #fff;
    font-size: 15px;
    font-weight: 900;
}
.newsimg img{
    margin: 10px 30px; 
    width: 150px;
    height: 120px;

}


/* pagefooter */
footer{
    margin-bottom: -180px;
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
   footer{
        margin-bottom: -150px;
    }
}
@media screen and (min-width: 1020px) and (max-width: 1200px) {
   footer{
        margin-bottom: -130px;
    }
}
@media screen and (min-width: 700px) and (max-width: 1020px) {
   footer{
        margin-bottom: -110px;
    }
}
@media screen and (min-width: 566px) and (max-width: 700px) {
   footer{
        margin-bottom: -90px;
    }
}
@media screen and (min-width: 447px) and (max-width: 566px) {
   footer{
        margin-bottom: -70px;
    }
}
@media screen and (min-width: 0px) and (max-width: 447px) {
   footer{
        margin-bottom: -50px;
    }
}
footer .up{
    border-radius: 10px 10px 0 0;
    padding: 30px 50px;
    color: white;
    background-color:rgba(30, 30, 30, 1.00);
    margin-bottom: 0px;
}
footer .name{
    text-indent: 4em;
} 
footer .down{
    background-color:rgba(18, 18, 18, 1.00);
    padding: 30px 50px; 
    text-align: center;
    color: white;
    border-radius: 0 0 10px 10px;
}

#fbackground{
    width: 100%;
    height: 100%;
}