* {
    vertical-align: top;
    box-sizing:border-box;
}
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-size: medium;
    font-family: Helvetica,Arial,sans-serif,"微軟正黑體", "Microsoft JhengHei";    
 }

 #topbackground{
	background: -webkit-linear-gradient(#F7B881,#FFFFFF);
	background: -o-linear-gradient(#F7B881,#FFFFFF);
	background: -moz-linear-gradient(#F7B881,#FFFFFF);
	background: linear-gradient(#F7B881,#FFFFFF);
}

/* 導覽列 */
.navbar-default{
	box-shadow:2px 2px 2px rgba(30%,30%,40%,0.6),4px 4px 6px rgba(30%,30%,40%,0.4),4px 4px 12px rgba(30%,30%,40%,0.4);
	border-radius: 5px;
	
}
#logo{
	width: 25px;
	height: 25px;
	margin-top: -5px;
	display: inline-block;
}
.navbar-brand{
	font-weight: bold;

}
.navbar-nav li a{
	padding: 15px 20px;
}

.navbar-nav li a::before{
	content: '';
	position: absolute;
    left: 0;
	top: 7px;
	display: inline-block;
	width: 1px;
	height: calc(100% - 7px *  2);
	background-color:rgba( 225, 225, 225, 1.00);
	
}


/* 退票確認 */
.order{
	background-color: rgba( 255, 255, 255, 1.00);
	border: 5px solid rgba( 255, 98, 57, 1.0);
	border-radius: 10px;
	padding: 50px;
	margin-bottom: 150px;
	 box-shadow:2px 2px 2px rgba(30%,30%,40%,0.6),4px 4px 6px rgba(30%,30%,40%,0.4),4px 4px 12px rgba(30%,30%,40%,0.4);
}
legend {
    width:auto;
    padding:0 10px; 
    border-bottom:none;
}

.order label h2{
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: bold;
	color: rgba(255, 127, 80,1.0);

}

.submit{
	float: right;
	margin-top: 30px;
}

.rwd-table {
    background: #fff;
    overflow: hidden;
    min-width: 100%;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow:2px 2px 2px rgba(30%,30%,40%,0.6),4px 4px 6px rgba(30%,30%,40%,0.4),4px 4px 12px rgba(30%,30%,40%,0.4);
}
.rwd-table tr{
	background-color: #eee;
}         
.rwd-table tr:nth-of-type(2n) { 
    background: #eee;
}
           
.rwd-table th, .rwd-table td {
    margin: 0.5em 1em;
    text-align: left;
}
    
.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}
    
.rwd-table td::before {
    content: attr(data-th) " : ";
    width: 6.5em;
    display: inline-block;
}

.rwd-table th, .rwd-table td::before {
    color: #25517d;
    font-weight: bold;
}
    
@media screen and (min-width: 580px) {
    .rwd-table td::before {
        display: none;
    }

    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: 1em ;
    }
}

/* pagefooter */
footer{
	margin-bottom: -180px;
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
   footer{
		margin-bottom: -150px;
	}
}
@media screen and (min-width: 1020px) and (max-width: 1200px) {
   footer{
		margin-bottom: -130px;
	}
}
@media screen and (min-width: 700px) and (max-width: 1020px) {
   footer{
		margin-bottom: -110px;
	}
}
@media screen and (min-width: 566px) and (max-width: 700px) {
   footer{
		margin-bottom: -90px;
	}
}
@media screen and (min-width: 447px) and (max-width: 566px) {
   footer{
		margin-bottom: -70px;
	}
}
@media screen and (min-width: 0px) and (max-width: 447px) {
   footer{
		margin-bottom: -50px;
	}
}
footer .up{
	border-radius: 10px 10px 0 0;
	padding: 30px 50px;
	color: white;
	background-color:rgba(30, 30, 30, 1.00);
	margin-bottom: 0px;
}
footer .name{
	text-indent: 4em;
} 
footer .down{
	background-color:rgba(18, 18, 18, 1.00);
	padding: 30px 50px; 
	text-align: center;
	color: white;
	border-radius: 0 0 10px 10px;
}

#fbackground{
	width: 100%;
	height: 100%;
}