@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s3fsob');
  src:  url('fonts/icomoon.eot?s3fsob#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s3fsob') format('truetype'),
    url('fonts/icomoon.woff?s3fsob') format('woff'),
    url('fonts/icomoon.svg?s3fsob#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-date:before {
  content: "\e903";
}
.icon-schedule:before {
  content: "\e903";
}
.icon-time:before {
  content: "\e903";
}
.icon-pin-alt:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e900";
}
.icon-time2:before {
  content: "\e900";
}
.icon-history:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
